@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: transparent;
    box-sizing: border-box;
    transition: all 0.3s;
}
body{
  transition: all 0.4s ease;
  opacity:0;
  filter: blur(5px);
}
img{
  max-width: 100%;
}

.mt-05{
  margin-top: 0.5rem;
}
.mt-1{
  margin-top: 1rem;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body{
    font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: var(--text);
    font-size: var(--font-md);
}

:root{
    --bg: #FFFFFF;
    --card-bg: #F6F6F6;
    --text: #303030;
    --accent: #0A8CFF;
    --accent-dim: #C0E2FF;
    --gray: #6F6F6F;
    --dim: #E0E0E0;
    --border: #CECECE;
    --border-dim: #D4D4D4;
    --border-accent: #89C8FF;
    --radius-big: 100px;
    --radius: 7px;
    --radius-small: 4px;
    --font-lg: 18px;
    --font-md: 16px;
    --font-sm: 12px;
}

.container{
  padding: 2rem;
}

.search-container{
  background: lightgray;
  background: var(--dim);
  border-radius: 100px;
  border-radius: var(--radius-big);
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
}
.search-container input{width: 100%;}
input{
  font-size: var(--font-md);
}



.brand-tab-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.8rem;
  overflow-x: auto;
}
.brand-tab-container .brand-tab{
  padding: 0.5rem 1rem;
  border-radius: var(--radius-small);
  background: var(--dim);
  border: 1px solid var(--border-dim);
  font-weight: 500;
}
.brand-tab-container .brand-tab.active{
  background: var(--accent-dim);
  font-weight: 600;
  border: 1px solid var(--border-accent);
  color: var(--accent);
}




.latest-tips{
  margin-top: 2rem;
}
.tips-list{
  margin-top: 1rem;
}
.list-item{
  margin-top: 1rem;
  border: 1px solid var(--card-bg);
  border-radius: var(--radius);
  padding: 0.7rem;
  background: var(--card-bg);
  background: #FDFDFD;
}

.list-item .flex{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.list-item .img{
  height: 80px;
  width: 80px;
  border-radius: var(--radius);
  background: var(--dim);
  overflow: hidden;
  border: 1px solid var(--border-dim);
}
.list-item .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.list-item .detail p{
  color: var(--gray);
  font-size: var(--font-sm);
}

.function-box, .user-action-box{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.function-box .box, .user-action-box .box{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  color: var(--gray);
  width: 100%;
}
.function-box .box svg, .user-action-box svg{
  height: 20px;
  width: 20px;
}
.function-box span, .user-action-box span{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.function-box span.active, .user-action-box span.active
{
  color: var(--accent);
}
.function-box .more svg{
  height: 20px;
  width: 24px;
  color: var(--gray) ;
}
.list-item .space{
  min-width: 80px;
  text-align: center;
}
.list-item .space p{
  color: #FF4141;
  background: #FFEBEB;
  border-radius: var(--radius-small);
  padding: 0.07rem 0.5rem;
  font-size: 13px;
  font-weight: 600;
  max-width: fit-content;
  margin: auto;
}
.see-more{
  width: 100%;
  padding: 0.7rem;
  background: var(--card-bg);
  border-radius: var(--radius-small);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 2rem;
}





/*#################### Page - tips ###################### */

.top-wraper{
  padding: 2rem 0.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
.back-btn svg{
  height: 30px;
}



.user-section{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-section .date{
  color: var(--gray);
  font-size: var(--font-sm);
}
.user-box{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  color: var(--gray);
  font-size: var(--font-md);
}
.user-box img{
  height: 40px;
  width: 40px;
  border-radius: var(--radius-big);
  background: var(--dim);
}

.img-flex{
  display: flex;
  align-items: start;
  margin-top: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--border-dim);
  overflow: hidden;
}
.img-flex img{
  width: 50%;
}
.img-flex .box{
  width: 100%;
}

.img-flex .box .nav{
  background: var(--card-bg);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  align-self: top;
  padding: 0.4rem;
  width: 100%;
  color: var(--gray);
}

.img-flex .box .nav p{
  background: var(--accent-dim);
  padding: 0.2rem 0.7rem;
  color: var(--accent);
  font-weight: 600;
  font-size: var(--font-sm);
  border-radius: var(--radius-big);
}

.img-flex .comments{
  font-size: 14px;
  padding: 0.2rem 0.5rem;
}


.content{
  margin-top: 2rem;
}
.title{
  font-size: var(--font-lg);
  font-weight: 600;
}
.guid{
  margin-top: 1rem;
  color: var(--gray);
  padding: 0 0.5rem;
  letter-spacing: 1px;
}

.guid-img{
  margin-top: 1rem;
  border-radius: var(--radius);
  max-height: 500px;
  object-fit: cover;
  max-width: 100%;
}





.createNew{
  overflow-x: hidden;
}
.createNew .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  background: #2C2C2C;
  color: #fff;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.createNew .top-wraper{
  padding: 1rem;
}
.createNew .container{
  margin-top: 50px;
}
.createNew .top-wraper h3{
  margin-bottom: 0.4rem;
}
.createNew h4{
  color: var(--gray);
}
.createNew .header button.post{
  font-size: var(--font-lg);
  font-weight: 500;
  color: var(--accent);
}

.createNew .container .form {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  
  padding: 1rem;
}
.createNew input{
  border: 1px solid var(--border);
  padding: 0.5rem 0.9rem;
  border-radius: var(--radius);
  width: 100%;
  margin: 0.5rem auto;
}

.createNew .box{
  border: 1px solid var(--border);
  margin-top: 0.5rem;
  border-radius: var(--radius);
  padding: 0.5rem;
}

.createNew button.addPhoto{
  border: dashed var(--border-dim);
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 0.5rem;
  border-radius: var(--radius-small);
}
.createNew button svg{
  width: 40px;
}
.createNew button.addMore{
  background: var(--accent);
  border-radius: var(--radius-small);
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.createNew button.addMore svg{
  width: 20px;
}

.createNew .chip{
  margin: 0.5rem 0;
  border: 1px solid var(--border);
  max-width: fit-content;
  border-radius: var(--radius-small);
  overflow: hidden;
  display: flex;
}
.createNew .chip span{
  background: var(--dim);
  color: var(--gray);
  padding: 0.3rem 0.7rem;
  font-size: var(--font-sm);
  font-weight: 600;
}
.createNew .flex{
  display: flex;
  align-items: start;
  gap: 1rem;
}
.createNew .chip .easy.active{
  background: #C0FFDB;
  color: #1FB660;
}

.createNew .time-chip{
  margin-top: 0.5rem;
  border: 1px solid var(--border-dim);
  
  border-radius: var(--radius-small);
  padding: 0.23rem 0.7rem;
  font-size: var(--font-sm);
  font-weight: 600;
  color: var(--gray);
}
select{color: var(--gray);font-weight: 600;}

.createNew button.submit{
  background: var(--accent);
  color: #fff;
  padding: 0.7rem 3rem;
  width: max-content;
  border-radius: var(--radius-big);
  margin-top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  
  font-size: var(--font-md);
  font-weight: 500;
}
.agree-box{
  margin-top: 1rem;
  display: flex;
  align-items: start;
  gap: 0.5rem;
  font-size: var(--font-sm);
  font-weight: 600;
  color: var(--gray);
}
.agree-box input{
  margin: 0;
  padding: 0;
  width: fit-content;
}
a{
  color: var(--accent);
  text-decoration: none;
}


button.float{
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  background: var(--accent);
  color: #fff;
  border-radius: var(--radius-big);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.34);
}
button.float svg{
  height: 25px;
}


/*==============
  pop-up
  ==============*/
  





.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  transition: opacity 0.3s ease;
}

.popup-sheet {
  background: #fff;
  width: 100%;
  max-width: 420px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}
.popup-sheet-close{
  transform: translateY(500px);
}

.popup-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.popup-subtitle {
  margin: 6px 0 20px;
  color: #666;
  font-size: 14px;
}

.popup-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.action-btn {
  padding: 14px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}


.action-btn.primary {
  background: #0BA2FF;
  color: #fff;
}

.action-btn.secondary {
  background: #f2f2f2;
}

.popup-close-btn {
  margin: 10px;
  background: #fff;
  border: none;
  font-size: 16px;
  color: #333;
  padding: 14px;
  border-radius: 12px;
  width: 100%;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.5s ease;
  max-width: 420px;
}



.hidden{
  display: none;
}